$light-grey: #f0f0f0;
$medium-grey: #cecece;
$dark-grey: #4c4c4c;
$primary-orange: #f47f24;
$light-orange: #fcb07c;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  background-color: $light-grey;
  // background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  // background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  color: $dark-grey;

  font-family: -apple-system, BlinkMacSystemFont, "Exo", "Segoe UI Semibold",
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
  padding: 0;
  border-bottom: 1px solid $medium-grey;
  background-color: $light-grey;
}

main {
  padding: 20px 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid $medium-grey;
  background-color: $light-grey;
}

.container {
  margin: 0;
  padding: 0 5%;
  min-width: 100%;

  @media (max-width: 767.98px) {
    padding: 0;
  }
}

nav.navbar {
  img {
    max-height: 75px;
    padding: 10px 0px;
    margin-right: 20px;
  }

  ul.mt-2 {
    margin-top: 0 !important;
  }
}

div#home {
  text-align: center;

  form#log-in {
    width: 250px;
    max-width: 100%;
    margin: 0 auto;

    button {
      width: 100%;
    }
  }
}

div#tag-link-buttons {
  button {
    margin-bottom: 4px;
  }
}

div#accordion {
  img {
    max-width: 100%;
  }

  button.btn {
    text-align: left;
  }
}

.notes {
  white-space: pre-wrap;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: $medium-grey;
}
::-webkit-scrollbar-thumb {
  background: $light-orange;
  border-radius: 4px;
}
::-moz-selection {
  background: $primary-orange;
}
::selection {
  background: $light-orange;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
button,
textarea {
  padding: 6px 12px;
  border-radius: 0.25rem;
  box-sizing: border-box;
  max-width: 100%;
  vertical-align: middle;

  &:not(input[type="submit"]):not(button):not(textarea) {
    width: 250px;
  }

  &:not(input[type="submit"]):not(button) {
    border: 0;
    // border: 2px solid $light-orange;
    &:focus-visible {
      outline-color: $light-orange;
    }
  }
}

textarea {
  width: 750px;
  height: 250px;
  resize: both;
}
